<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <p>Hey! I'm John. This is my page on the internet. My work background ranges from time spent in different museums
        across the city, in community organizing and social justice spaces, and at a public health center in New York
        City's Chinatown. </p>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        </a>
      </div>
    </div>
  </div>
</section>
